@media only screen and (min-width: 320px)
	.body-wrapper
		width: 100%

	.query-block
		text-align: center
		margin: 20px 0px
		font-size: 1.5em

	.main-result
		width: 100%
		margin: 0px auto
		text-align: center

	.like-img
		width: 25px
		height: 25px
		margin: 10px 0px 20px 0px

	.preview-img
		width: 320px
		height: 180px

	.video-blog-img
		text-align: center


@media only screen and (min-width: 576px)
	/*search field*/
	.search-field
		width: 90%
		margin: 0px auto


@media only screen and (min-width: 992px)
	.search-field
		width: 80%

	.main-video-frame
		width: 580px
		height: 360

	.video-title
		font-size: 1.3em
	
	.video-date
		font-size: 1.2em

	/* grid other videos */

	.other-video-grid
		display: grid
		grid-template-columns: 1fr 1fr

	.other-title-block
		width: auto
		text-align: center

@media only screen and (min-width: 1200px)
	.body-wrapper
		width: 90%

	.other-video-grid
		display: grid
		grid-template-columns: 1fr 1fr 1fr
		grid-gap: 15px
