|{% extends 'wrapper.html' %}
|{% load static %}

|{% block title %}
title Results
|{% endblock %}

|{% block style %}
|<link rel="stylesheet" href="{% static 'css/search.css' %}">
|{% endblock %}

|{% block body %}


.login-block
	.text
		|<h2 class="query" >{{ login_message }}</b></h2>

.main-block
	

|{% endblock %}