- var login_header_list = ["Profile", "Liked videos", "Log out"]
- var login_header_list_1 = ["profile", "liked", "logout"]

|{% extends 'wrapper.html' %}
|{% load static %}

|{% block title %}
title YouSearch
|{% endblock %}

|{% block style %}
|<link rel="stylesheet" href="{% static 'css/main.css' %}">
|{% endblock %}
		
|{% block body %}

.title-block
	.title-text
		h1.title If You search via YouSearch - you are 80% more productive & successfull
|{% endblock %}