|{% load static %}
html
	head
		title YouSearch
		|<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		|<link rel="stylesheet" href="{% static 'css/default.css' %}">
		|<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
		

body
	h1 Welcome