|{% extends 'wrapper.html' %}
|{% load static %}

|{% block title %}
title Results
|{% endblock %}

|{% block style %}
|<link rel="stylesheet" href="{% static 'css/search.css' %}">
|{% endblock %}

|{% block body %}
.grid
	.text
		h2.title Result of 
		|<p class="query"> {{ query }} </p>

	.main-result

	|{% for video in videos %}
	.side-result
	|{% endfor %}
|{% endblock %}
