|{% extends 'wrapper.html' %}
|{% load static %}

|{% block title %}
title Results
|{% endblock %}

|{% block style %}
|<link rel="stylesheet" href="{% static 'css/search.css' %}">
|{% endblock %}

|{% block body %}


.query-block
	.text
		|<h2 class="query">Results: {{query}}</h2>

|{% if error %}
.error-block
	.text
		|<h2 class="error">{{error_msg}}</h2>	
|{% else %}
.main-result
	.main-video-block
		.main-frame-block
			|<iframe class="main-video-frame" src="{{main_video.iframe}}"></iframe>
		
		.main-data-block
			.other-title-block
				|<a href="{{main_video.link}}"> <h3 class="video-title">{{main_video.name}}</h3> </a>
			.other-date-block
				|<p class="video-date">{{main_video.date}}</p>
			.other-liked-block
				form.like-form(method="POST", action="/liked/add/")
					|{% csrf_token %}
					|<input type="hidden", name="videoId", value="{{main_video.id}}">
					|<input type="hidden", name="query", value="{{query}}">
					|{% if main_video.liked %}
					|<button class="like-btn" type="submit"><img class="like-img" src="{% static 'img/liked.svg' %}"></button>
					|{% else %}
					|<button class="like-btn" type="submit"><img class="like-img" src="{% static 'img/disliked.svg' %}"></button>
					|{% endif %}

	.other-video-grid
		|{% for item in other_video %}
		.other-video-block
			.preview-img-block
				|<img class="preview-img" src="{{item.preview}}"/>

			.other-data-block
				.other-title-block
					|<a href="{{item.link}}"> <h3 class="video-title">{{item.name}}</h3> </a>
				.other-date-block
					|<p class="video-date">{{item.date}}</p>
				.other-liked-block
					form.like-form(method="POST", action="/liked/add/")
						|{% csrf_token %}
						|<input type="hidden", name="videoId", value="{{item.id}}">
						|<input type="hidden", name="query", value="{{query}}">
						|{% if item.liked %}
						|<button class="like-btn" type="submit"><img class="like-img" src="{% static 'img/liked.svg' %}"></button>
						|{% else %}
						|<button class="like-btn" type="submit"><img class="like-img" src="{% static 'img/disliked.svg' %}"></button>
						|{% endif %}
			
		|{% endfor %}
|{% endif %}
|{% endblock %}
