- var login_header_list = ["Profile", "Liked videos", "Log out"]
- var login_header_list_1 = ["profile", "liked", "logout"]

|{% load static %}
html
	head
		title YouSearch
		|<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		|<link rel="stylesheet" href="{% static 'css/default.css' %}">

		|<link rel="stylesheet" href="{% static 'css/search.css' %}">
		|<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
		

body
	
		