|{% extends 'wrapper.html' %}
|{% load static %}

|{% block title %}
title Results
|{% endblock %}

|{% block style %}
|<link rel="stylesheet" href="{% static 'css/search.css' %}">
|{% endblock %}

|{% block body %}


.query-block
	.text
		|<h2 class="query" >Results for <b>{{ query }}</b></h2>

.main-result

	.main-video-block
		.main-frame-block
			|<iframe class="main-video-frame" src="{{main_video.iframe}}"></iframe>
		
		.main-data-block
			.video-title-block
				|<a href="{{main_video.link}}"> <h3 class="video-title">{{main_video.name}}</h3> </a>
			
			.additional-block
				.video-date-block
					|<p class="video-date">{{main_video.date}}</p>
				.video-liked-block
					|{% if main_video.liked %}
					|<img class="like-img" src="{% static 'img/liked.svg' %}"
					|{% else %}
					|<img class="like-img" src="{% static 'img/disliked.svg' %}"
					|{% endif %}

	.other-video-grid
		|{% for item in other_video %}
		.other-video-block
			.video-blog-img
				|<img class="preview-img" src="{{item.preview}}"/>

			.other-data-block
				.other-title-block
					|<a href="{{item.link}}"> <h3 class="video-title">{{item.name}}</h3> </a>
				.other-date-block
					|<p class="video-date">{{item.date}}</p>
				.other-liked-block
					|{% if item.liked %}
					|<img class="like-img" src="{% static 'img/liked.svg' %}"
					|{% else %}
					|<img class="like-img" src="{% static 'img/disliked.svg' %}"
					|{% endif %}
	|{% endfor %}

|{% endblock %}