|{% extends 'wrapper.html' %}
|{% load static %}

|{% block title %}
title Results
|{% endblock %}

|{% block style %}
|<link rel="stylesheet" href="{% static 'css/search.css' %}">
|{% endblock %}

|{% block body %}

.query-block
	.text
		h2.title Result of 
		|<p class="query"> {{ query }} </p>

.main-result
	.main-video-block
		.main-frame-block
			|<iframe src="https://www.youtube.com/embed/{{main_video}}/"></iframe>
		
		.main-additional-block
		
			.link-bnt-block
				a.original-link
					button.original-link-btn
						|<img src="{% static 'img/youtube.png' %}"/>
		
			.link-bnt-block
				a.original-link
					button.original-link-btn
						|<img src="{% static 'img/not_liked.png' %}"/>

	.other-video-block
		
		|{% for id in other_video %}
		.video-blog-list
			|<iframe src="https://www.youtube.com/embed/{{id}}/"></iframe>

		.additional-block
			
			.link-bnt-block
				a.original-link
					button.original-link-btn
						|<img src="{% static 'img/youtube.png' %}"/>
			
			.link-bnt-block
				a.liked-videos
					button.original-link-btn 
						|<img src="{% static 'img/not_liked.png' %}"/>
		|{% endfor %}

|{% endblock %}