|{% load static %}
html
	head
		|{% block title %}
		|{% endblock %}

		|<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		|<link rel="stylesheet" href="{% static 'css/default.css' %}">
		|<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

		|{% block style %}
		|{% endblock %}

		|{% block script %}
		|{% endblock %}

	body
		header
			.logo-block
				.header-menu
					ul.list-header-menu
						|{% if logged %}
					
						li.list-header-item 
							a.list-header-link(href="/profile/") Profile
						li.list-header-item 
							a.list-header-link(href="/liked/") Liked videos
						li.list-header-item 
							a.list-header-link(href="/logout/") Log out

						|{% else %}
						li.list-header-item 
							a.list-header-link(href="/random/") Random
						li.list-header-item 
							a.list-header-link(href="/login/") Login
					
						|{% endif %}
	
		.content-wrapper
			|{% block body %}
			|{% endblock %}

		footer
			p.footer-text This site is an example of application. It's created for ZNU practice 