- var header_menu_anonym = ["Random", "Auth"]
- var header_menu_login = ["Random", "Profile", "Liked", "Logout"]

|{% load static %}
html
	head
		|{% block title %}
		|{% endblock %}

		|<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		|<link rel="stylesheet" href="{% static 'css/default.css' %}">
		|<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

		|{% block style %}
		|{% endblock %}

		|{% block script %}
		|{% endblock %}

	body
		.body-wrapper
			header
				.logo-block
					a.logo-link(href="/")
						|<img class="logo-img" src="{% static "img/logo.png" %}"/>
				.header-menu
						ul.header-list
							|{% if login %}
							li.header-item
								a.header-link(href="/profile")
									|<img src="{% static 'img/profile.png' %}">

							for item in header_menu_login
								li.header-item
									a.header-link(href="/"+item)=item

							|{% else %}
							for item in header_menu_anonym
								li.header-item
									a.header-link(href=item)=item
							|{% endif %}

				.hidden-menu-img
					|<img class="menu-img" src="{% static "img/hidden.png" %}"/>

			.hidden-menu-list
				|{% if login %}
				for item in header_menu_login
					.header-link-block
						a.header-link(href=item)=item

				|{% else %}
				for item in header_menu_anonym
					.header-link-block
						a.header-link(href=item)=item
				|{% endif %}
			
			.search-block
				form.search-form(method="POST", action="/search/")
					|{% csrf_token %}
					.input-block
						input.search-field(type="text", name="search" placeholder="Search")
						button.search-btn(type="submit") OK
		
			.content-wrapper
				|{% block body %}
				|{% endblock %}

			footer
				p.footer-text This site is an example of application. It's created for ZNU practice

	|<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

	|<script src="{% static 'js/header_menu.js' %}"></script>