|{% load static %}
html
	head
		|{% block title %}
		|{% endblock %}

		|<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		|<link rel="stylesheet" href="{% static 'css/default.css' %}">
		|<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

		|{% block style %}
		|{% endblock %}

		|{% block script %}
		|{% endblock %} 

	body
		.body-wrapper
			header
				.logo-block
					a.logo-link(href="/")
						|<img class="logo-img" src="{% static "img/logo.png" %}"/>
				.header-menu
						ul.header-list
							|{% if login %}
							li.header-item
								a.header-link(href="/profile")
									|<img src="{% static 'img/profile.png' %}">
							li.header-item
								a.header-link(href="/random/") Random
							li.header-item
								a.header-link(href="/account/") Account
							li.header-item
								a.header-link(href="/liked/") Liked videos
							li.header-item
								a.header-link(href="/auth/logout/") Logout

							|{% else %}
							li.header-item
								a.header-link(href="/random/") Random
							li.header-item
								a.header-link(href="/auth/") Login
							|{% endif %}

				.hidden-menu-img
					|<img class="menu-img" src="{% static "img/hidden.png" %}"/>

			.hidden-menu-list
				|{% if login %}
				.header-link-block
					a.header-link(href="/random/") Random
				.header-link-block
					a.header-link(href="/account/") Account
				.header-link-block
					a.header-link(href="/liked/") Liked videos
				.header-link-block
					a.header-link(href="/auth/logout/") Logout

				|{% else %}
				.header-link-block
					a.header-link(href="/random/") Random
				.header-link-block
					a.header-link(href="/auth/") Login
				|{% endif %}
			
			.search-block
				form.search-form(method="POST", action="/search/")
					|{% csrf_token %}
					.input-block
						input.search-field(type="text", name="search" placeholder="Search" maxlenght="100")
						button.search-btn(type="submit") OK
		
			.content-wrapper
				|{% block body %}
				|{% endblock %}

|<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

|<script src="{% static 'js/header_menu.js' %}"></script>